<!DOCTYPE html>
<html>
<head>

body{
    height: 100vh;
    margin: 0;
    box-sizing: border-box;
    display: grid;
    place-content: center;
    font-family: system-ui, sans-sertif;
    background-color: blue;
}

h2{
position: relative;
font-size: 5rem;
color: white;
}

h2:hover{
color:blanchedalmond;
transition-duration: 1s;
}

h2::before{
    transform: scaleX(0);
    transform-origin: bottom left;
}

h2:hover::before{
    transform: scaleX(1);
    transform-origin: bottom left;
}

h2::before{
    content: "";
    display: block;
    position: absolute;
    inset: 0 0 0 0;
    background: rgb(255, 255, 0);
    z-index: -1;
    transition: transform 0.3s ease;

}


</head>

<body>

</body>



</html>
